.titulo1 {
    font-weight: bolder;
    color: #d2d4d7;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black;
}

.titulo2 {
    font-size: 30px;
    color: #d2d4d7;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black;
}

.banner1 {
    background-image: url("../imagenes/banner1.jpg");
    background-size: cover;
    background-position: center;
}

.banner2 {
    background-image: url("../imagenes/banner2.jpg");
    background-size: cover;
    background-position: top;
}

.container-fluid1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-fluid2 {
    padding-top: 70px;
    height: 2000px;
    padding-bottom: 80px;
    border-top: inset #8bffff 5px;
    border-bottom: inset #8bffff 5px;
    color: #000;
}

.container-fluid2 button{
    margin-top: 50px ;
    border: inset #8bffff 2px; 
    color: #d2d4d7;
    width: 300px;
    height: 80px;
    font-size: 30px;
}

.container-fluid3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.fondo1 {
    background-color: #000000;
}


footer {
    padding: 30px 0;
    background-image: url("/imagenes/banner2.jpg");
}